<!DOCTYPE html>
<html xmlns:th="asd">
<head>
	<title></title>
</head>
<body>
  <div th:fragment="navigationBar(active)">
    <div class="w3-bar w3-black">
      <a class="w3-bar-item w3-button w3-mobile" th:classappend="${active == 1} ? 'w3-lime' : ''" th:text="#{menu.home}" href="/"></a>
      <a class="w3-bar-item w3-button w3-mobile" th:classappend="${active == 2} ? 'w3-lime' : ''" th:text="#{menu.works}" href="/works"></a>
      <a class="w3-bar-item w3-button w3-mobile" th:classappend="${active == 3} ? 'w3-lime' : ''" th:text="#{menu.cleaners}" href="/cleaners"></a>
    </div>
  </div>
</body>
</html>