<!DOCTYPE html>
<html xmlns:th="asd">
<head>
	<title th:text="#{title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
</head>

<body class="w3-light-gray">
	<div class="w3-content w3-blue-grey">
		<nav th:replace="/fragments/navbar :: navigationBar (3)"></nav>

		<section class="w3-panel w3-card-4 w3-teal w3-content w3-padding-16">
			<header class="w3-container w3-light-green">
				<h1 th:text="#{cleaners.header}"></h1>
			</header>
			
		</section>

	</div>

			</body>
			</html>