<!DOCTYPE html>
<html xmlns:th="asd">
<head>
	<title th:text="#{title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
</head>

<body class="w3-light-gray">
	<div class="w3-content w3-blue-grey">
		<nav th:replace="/fragments/navbar :: navigationBar (1)"></nav>

		<section class="w3-panel w3-card-4 w3-teal w3-content w3-padding-16">
			<header class="w3-container w3-light-green">
				<h1 th:text="#{home.header}"></h1>
			</header>
			<div class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>


				<div class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>

	</div>

			</body>
			</html>